{% extends 'base.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    <div class="container">
        <div class="header"></div>
            <h2>Авторизация</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div>{{field.label}}</div>
                    <div>{{field}}</div>
                    <div>{{field.errors}}</div>
                {% endfor %}
                <button type="submit">Войти</button>
            </form>
    </div>
{% endblock %}